pipeline/Pl_copyloop_sqltoadls.json
{
	"name": "Pl_copyloop_sqltoadls",
	"properties": {
		"activities": [
			{
				"name": "getcopyactivityexecutionlist",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getcopyactivityexecutionlist]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_frameworkdb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachobjectsfromsp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getcopyactivityexecutionlist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getcopyactivityexecutionlist').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "fullandincrementaldata",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[getcopyactivitysinksqltoadls]",
									"storedProcedureParameters": {
										"copyactivitysqlscriptname": {
											"type": "String",
											"value": {
												"value": "@item().copyactivitysqlscriptname",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Ds_frameworkdb",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "fullandincrementaldata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('fullandincrementaldata').output.firstRow.is_incremental,true)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "callfullload",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_SQl_ADLS",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"copyactivitysqlscriptname": {
													"value": "@activity('fullandincrementaldata').output.firstRow.copyactivitysqlscriptname",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "call incremnetal load",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pl_SQl_ADLS_incremental",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"copyactivitysqlscriptname": {
													"value": "@activity('fullandincrementaldata').output.firstRow.copyactivitysqlscriptname",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "OnpremSQLtoADLS"
		},
		"annotations": []
	}
}